@use "../../styles/variables/colors" as *;
@use "../../styles/variables/mediaQuery" as *;
@use "../../styles/mixins" as *;

.landing {
  background-color: rgb(0 0 0 / 90%);
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/assets.png);
  background-size: contain;
  background-repeat: repeat;
  font-weight: 400;
  font-style: normal;
  font-family: "Aref Ruqaa", serif;


  .row {
    padding-top: 80px;
    height: 100%;
    background-color: rgb(0 0 0 / 20%);
    .image_container {
      display: flex;
      justify-content: center;
      align-items: center;
      .profile {
        width: 35rem;
      }

    }
    .description {
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      padding: 4rem;
      color: #fff !important;
      h1 {
        text-transform: capitalize;
        span{
            color: $textColor;
        }
      }
      p {
        font-size: 1.2rem;
        color: #f7f4f4;
        
      }
    }
    button{
      background-color: rgb(169 49 11);
      margin-top: 1rem;
      a{
        color: #fff;
      }
      &:hover{
        background-color: transparent !important;
        border: 2px  solid rgb(179, 60, 24) !important;
        a{
          
          color:rgb(179, 60, 24) !important;
        }
      }
    }
  }
}
