@use "../../styles/variables/colors" as *;
@use "../../styles/variables/mediaQuery" as *;
@use "../../styles/mixins" as *;

.myNav {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  border: none;
  z-index: 9999910000000000;
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  background-color: transparent;
  color: #fff;
  position: fixed !important;

  @include mediaQuery($medScreen_max_width) {
    flex-direction: row-reverse !important;
  }

  .navbar-toggler {
    border: none !important;
    color: #fff !important;
    float: right;
    &:focus {
      box-shadow: none;
    }
  }

  &::before,
  &::after {
    display: table;
    content: " ";
  }
  .progress-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2%;
    background-color: $blueColor;
  }
  .navbar-icon {
    display: flex;

    gap: 10px;
    height: 100%;
    .change_theme_container {
      display: block;
      overflow: hidden;
      width: 5rem;
      height: 2.5rem;
      border-radius: 1rem;
      background-color: #334155;
      margin-top: 1rem;
      // border: 3px solid #ffffff;
      position: relative;
      .change_theme_button {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          width: 50%;
          height: 100%;
          line-height: 0 !important;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          z-index: 5;
          background-color: transparent;
          &.bright {
            left: 0;
            svg {
              color: #ffffff;
            }
          }
          &.dark {
            right: 0;
            svg {
              color: #334155;
            }
          }
        }
        .active_el {
          display: block;
          overflow: hidden;
          position: absolute;
          right: 4%;
          top: 50%;
          transform: translateY(-50%);
          height: 2rem;
          width: 2rem;
          border-radius: 50%;
          background-color: #fff;
          z-index: 4;
        }
      }
    }
  }
  .collapse {
    justify-content: end;
    height: 100%;
    background: transparent;
    &.show {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: transparent;
      position: fixed;
      width: 100%;
      left: 0;
      top: 55px;
      height: 55px;
      .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: start;
      }
    }
    div {
      height: 100%;
    }
    .navbar-nav {
      width: 100%;
      height: 100%;
      justify-content: end;
      padding: 0 2rem;
            .nav-item {
        position: relative;
        padding: 0 6px;
        display: flex;
        justify-content: center;
        align-items: center;

        &.lang {
          border-radius: 7px;
          margin: 10px 0;
          width: 10rem;
          height: 2.5rem;
          background: $blueColor;
          border: 0;
          transition: 0.4s;
          &:hover{
            background: transparent;
            border: 1px solid $blueColor;
            .nav-link{
              color: $blueColor !important;
            }
          }
        }
        .nav-link {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff !important;
          text-transform: capitalize;
          cursor: pointer;
          font-size: 3.2vmin;
          font-weight: 500;
        }
        a i {
          font-size: 20px;
          color: #fff;
        }
        img {
          width: 35px;
          height: 35px;
          // margin: 6px 5px 0 15px;
          border-radius: 50%;
          background-color: #fff;
          -o-object-fit: cover;
          object-fit: cover;
        }
        // h1 {
        //   color: #fff;
        //   margin: 0px !important;
        //   line-height: normal;
        //   font-size: 27px;
        // }
      }
    }
  }
}
