.myNav {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  border: none;
  z-index: 9999910000000000;
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  background-color: transparent;
  color: #fff;
  position: fixed !important;
}
@media (max-width: 992px) {
  .myNav {
    flex-direction: row-reverse !important;
  }
}
.myNav .navbar-toggler {
  border: none !important;
  color: #fff !important;
  float: right;
}
.myNav .navbar-toggler:focus {
  box-shadow: none;
}
.myNav::before, .myNav::after {
  display: table;
  content: " ";
}
.myNav .progress-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2%;
  background-color: rgb(14, 165, 233);
}
.myNav .navbar-icon {
  display: flex;
  gap: 10px;
  height: 100%;
}
.myNav .navbar-icon .change_theme_container {
  display: block;
  overflow: hidden;
  width: 5rem;
  height: 2.5rem;
  border-radius: 1rem;
  background-color: #334155;
  margin-top: 1rem;
  position: relative;
}
.myNav .navbar-icon .change_theme_container .change_theme_button {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myNav .navbar-icon .change_theme_container .change_theme_button button {
  width: 50%;
  height: 100%;
  line-height: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 5;
  background-color: transparent;
}
.myNav .navbar-icon .change_theme_container .change_theme_button button.bright {
  left: 0;
}
.myNav .navbar-icon .change_theme_container .change_theme_button button.bright svg {
  color: #ffffff;
}
.myNav .navbar-icon .change_theme_container .change_theme_button button.dark {
  right: 0;
}
.myNav .navbar-icon .change_theme_container .change_theme_button button.dark svg {
  color: #334155;
}
.myNav .navbar-icon .change_theme_container .change_theme_button .active_el {
  display: block;
  overflow: hidden;
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translateY(-50%);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #fff;
  z-index: 4;
}
.myNav .collapse {
  justify-content: end;
  height: 100%;
  background: transparent;
}
.myNav .collapse.show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: fixed;
  width: 100%;
  left: 0;
  top: 55px;
  height: 55px;
}
.myNav .collapse.show .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.myNav .collapse div {
  height: 100%;
}
.myNav .collapse .navbar-nav {
  width: 100%;
  height: 100%;
  justify-content: end;
  padding: 0 2rem;
}
.myNav .collapse .navbar-nav .nav-item {
  position: relative;
  padding: 0 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myNav .collapse .navbar-nav .nav-item.lang {
  border-radius: 7px;
  margin: 10px 0;
  width: 10rem;
  height: 2.5rem;
  background: rgb(14, 165, 233);
  border: 0;
  transition: 0.4s;
}
.myNav .collapse .navbar-nav .nav-item.lang:hover {
  background: transparent;
  border: 1px solid rgb(14, 165, 233);
}
.myNav .collapse .navbar-nav .nav-item.lang:hover .nav-link {
  color: rgb(14, 165, 233) !important;
}
.myNav .collapse .navbar-nav .nav-item .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 3.2vmin;
  font-weight: 500;
}
.myNav .collapse .navbar-nav .nav-item a i {
  font-size: 20px;
  color: #fff;
}
.myNav .collapse .navbar-nav .nav-item img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
  -o-object-fit: cover;
  object-fit: cover;
}/*# sourceMappingURL=Navbar.css.map */